<div class="box">
    <h1>Register</h1>
    
    <hr>

    <form class="box" method="post" action="/api/sessions/register">

        <label for="username">First Name</label>
        <input type="text" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit" >Register</button>
    </form>
    <span><a href="/login" target="_self" class="btn-enviar">Login</a></span>
</div>

{{#if failRegister}}
    <script type="text/javascript">
        alert('Register Failed!');
    </script>
{{/if}}