body {
    padding: 0rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: sans-serif;
    background-color: #1c1c1c;
    color: #ddd7d7;

    .bienvenida {

        img {
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }
        .btn-logout {
            position: absolute;
            top: 20px;
            right: 30px;
            text-decoration: none;
            background-color: #a10f0f;
            border: none;
            color: #fff;
            padding: .5rem 1rem;
            cursor: pointer;
            border-radius: 8px;
        }
    }

    .box {
        span {
            a {
                color: #fff;
            }
        }
    }

    form {
        border-radius: 6px;
        width: 300px;
        margin: 0 auto;
        padding: 2rem 1rem;
        background-color: rgb(155, 149, 149);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
            font-size: 1.5rem;
            font-weight: bold;
        }

        input {
            border: none;
            padding: 6px;
            border-radius: 6px;

            &:last-child {
                transition: .3s ease all;
                &:hover {
                    cursor: pointer;
                    background-color: #292727;
                    color: #ddd7d7;
                }
              
            }

            &:focus {
                outline: 2px solid #1c1c1c82;
            }

        }

        button {
            padding: .5rem 1rem;
            background-color: #1c1c1c;
            color: #f1f1f1;
            border: none;
            cursor: pointer;
            border-radius: 8px;
        }
    }

    .products {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    
        .product {
            text-decoration: none;
            border-radius: 6px;
            max-width: 250px;
            background-color: #ddd7d7;
            padding: 1rem;
            p {
                min-height: 30px;
                color: #1c1c1c;
            }
            p span {
                color: #1D6E9C;
                
                font-weight: bold;
            }

            button {
                background-color: #ff0000;
                color: #ffffff;
                outline: none;
                border: none;
                padding: .5rem 1rem;
                border-radius: 6px;
                cursor: pointer;
                transition: .3s ease background-color;

                &:hover {
                    background-color: #a10f0f;
                }
            }
        }
    }

    .detailProduct {
        color: rgb(23, 135, 23);

        h1 {
            text-transform: uppercase;
            font-size: 2rem;
        }

        .data {
            p {
                color: #9c9999;
                font-size: 1.2rem;
                span {
                    color: rgb(23, 135, 23);

                    font-weight: bold;
                }
            }
        }

        .volver {
            position: absolute;
            top: 30px;
            left: 30px;
            color: #f1f1f1;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        button {
            background-color: rgb(23, 135, 23);
            border: none;
            outline: none;
            color: #ffff;
            padding: .5rem 1rem;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .detailCart {

        .cart-products {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            .cart-product {
                padding: 2rem 1rem;
                border: 2px solid #3b3b3b;
                flex-direction: column;
                p {
                    margin-top: .5rem;
                }
            }
        }
    }

}

.arrows {
    display: flex;
    gap: 2rem;
    align-items: center;

    div {
        a {
            color: #ddd7d7;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


